@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,200;0,400;0,500;0,600;0,700;1,400&display=swap");
* {
  margin: 0;
  font-family: "Work Sans", sans-serif;
}

/* style header section  */
header {
  width: 100%;
  height: 855px;
  background-image: url("images/banner/banner3.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 120px;
}

.header-part {
  text-align: right;
  position: relative;
}
.header-part h1 {
  width: 510px;
  color: #fff;
  font-weight: 700;
  font-size: 65px;
  left: 880px;
  top: 216px;
  margin-bottom: 8px;
  position: absolute;
}

.para-txt {
  width: 494px;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  margin-bottom: 32px;
  line-height: 26px;
  text-align: right;
  position: absolute;
  left: 880px;
  top: 468px;
}

.contact-btn {
  width: 140px;
  height: 60px;
  background-color: #fff;
  color: #005fac;
  font-weight: 600;
  font-size: 20px;
  border: none;
  border-radius: 4px;
  text-transform: capitalize;
  left: 1200px;
  top: 578px;
  position: absolute;
}

/* style failures section */
.failures {
  /* width: 50%; */
  margin: 0 auto;
  width: 1100px;
  height: 725px;
  margin-bottom: 60px;
}
.row {
  display: flex;
  justify-content: space-around;
}

.row-img img {
  width: 455px;
  height: 600px;
}
.row-txt {
  width: 400px;
  height: 480px;
  margin-top: 150px;
  margin-left: 40px;
}
.row-txt h2 {
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 35px;
  color: #151414;
}
.row-txt p {
  font-weight: 400;
  font-size: 16px;
  color: #444343;
  margin-bottom: 35px;
}
.row-txt ul {
  list-style: none;
  padding: 0;
}
.row-txt ul li {
  color: #444343;
  margin-bottom: 14px;
}
.row-txt ul li:before {
  content: "\2713\0020";
  color: #16d887;
}

/* style plan section*/
.plan {
  width: 1160px;
  height: 204px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 220px;
}
.plan h2 {
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 80px;
  color: #151414;
  text-transform: capitalize;
}
.plan-1 {
  margin-bottom: 50px;
}
.plan-1 img {
  width: 90px;
  height: 90px;
  margin-bottom: 20px;
}
.plan-1 h2 {
  font-weight: 700;
  font-size: 25px;
  margin-bottom: 17px;
  color: #151414;
}

.plan-1 p {
  font-weight: 500;
  font-size: 20px;
  color: #737272;
}

/* style gradient section  */
.gradient {
  margin-bottom: 100px;
}
.gradient-div {
  width: 1120px;
  height: 300px;
  background-image:linear-gradient(to right,#005fac,transparent), url("images/watch.png");
  background-position: left;
  margin: 0 auto;
  border-radius: 10px;
}

.gradient-txt {
  width: 470px;
  height: 190px;
  padding: 50px;
}
.gradient-txt h2 {
  font-weight: 700;
  font-size: 40px;
  color: #fff;
  margin-bottom: 25px;
}
#call-btn {
  width: 120px;
  height: 50px;
  background-color: #fff;
  color: #005fac;
  font-weight: 600;
  font-size: 20px;
  border: none;
  border-radius: 4px;
  text-transform: capitalize;
}

/* style footer section  */
footer {
  width: 100%;
  height: 600px;
  background-color: #151414;
  display: flex;
  justify-content: space-around;
  gap: 30%;
}

.future {
  width: 500px;
  height: 320px;
  padding-top:130px;
  padding-left: 230px;
  
}

.future h2 {
  font-weight: 700;
  font-size: 45px;
  color: #f8f8f8;
  margin-bottom: 20px;
}
.future p {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #ffffff;
}

.social-icons {
  margin-top: 30px;
  display: flex;
  gap: 15px;
}

.social-icons img{
    width: 50px;
    height: 50px;
}
.subscribe{
    width:330px;
    height: 300px;
    padding-top:140px;
    padding-right: 230px;
}
.subscribe h4{
    font-weight: 600;
font-size: 25px;
color: #FFFFFF;
margin-bottom: 30px;
}
.subscribe form{
    display: flex;
    flex-direction: column;
}
.subscribe form input[type='text']{
    padding: 18px 20px;
    font-weight: 400;
font-size: 18px;
color: #F3F3F3;
border: 1px solid #F3F3F3;
border-radius: 10px;
background-color: transparent;
margin-bottom: 20px;
}

#subs-btn{
    width: 140px;
    height: 50px;
    background-color: #005fac;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    border: none;
    border-radius: 5px;
}